// Navigation code here

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

    .title {

        h1 {
            font-size: 3rem;
        }
    
    }

    .links {
        display: flex;
        justify-content: space-around;
        width: 30%;
        margin: 1%;

        a {
        color: black;
        font-size: 1.5rem;
        text-decoration: none;
        }
    
    }

}